@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i%7CAlegreya+SC%7CSource+Code+Pro:400,700');
@import url('https://www.fontify.me/wf/b6bc65b66f76d2b1608c4b993731a2df'); /* font88040 aka STKaiti */

:root {
  --background: lightsteelblue;
}

@page {
  size: 6in 9in;
  margin: 4pc 4pc 7pc 4pc;
}

/* page breaks */
.level1 {
  page-break-before: right;
}

div.abstract {
  page-break-before: always;
}

/* fonts */
body, blockquote {
  font-family: 'Alegreya', STKaiti, "华文楷体", font88040, serif;
  font-size: 11pt;
  font-weight: 400;
}

code {
  font-family: 'Source Code Pro', STKaiti, "华文楷体", font88040, monospace;
  font-weight: 400;
}

pre, code {
  font-size: 9pt;
}

.smallcaps {
  font-family: 'Alegreya SC', 'AlegreyaSC', STKaiti, "华文楷体", font88040, serif;
  font-variant: small-caps;
}

code .smallcaps, .abstract .smallcaps {
  font-family: inherit;
}

.abstract {
  font-family: STKaiti, "华文楷体", font88040, serif;
  font-size: 11pt;
}

/* main text content */
.level1 p {
  margin: 8pt 0;
  text-align: justify;
  line-height: 1.25;
  hyphens: auto; /* wait for Chrome 72 */
}

a {
  text-decoration: none;
}

a.uri {
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  color: #2e3192;
}

p a[href^="#"] {
  color: #ae2230;
  font-family: 'Alegreya';
}

.footnote-ref sup {
  line-height: 0.75;
}

/* first page */
.title {
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  margin-top: 21pt;
  border-top: 1pt solid black;
  padding-top: 28pt;
  position: relative;
}

.title::before{
  display: block;
  position: absolute;
  top: 0;
  border-top: 4pt solid black;
  width: 27mm;
  content: '';
}

.date {
  display: none;
}

.author {
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
}


/* viewer */
@media screen {
  .pagedjs_page {
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}

@media screen and (min-width: 12.32in) {
  .pagedjs_left_page {
    box-shadow: -2px 4px 10px rgb(0, 0, 0, 0.6), inset -1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_right_page {
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6), inset 1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_first_page {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_left_page:last-of-type {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}
